In [31]:
import pandas as pd
import numpy as np
import os
import mrmr

In [32]:
"""
read in the dataframe and name it 'df'. We will use this dataframe throughout the rest of the code.
this code prints out the unique values in each column of the dataframe
"""
df = pd.read_csv(os.path.join('data', 'adult.csv'), index_col=False)
for col in df.columns:
    print(f"Unique values in Columns '{col}'")
    print(f'{col}: {df[col].unique()}\n')

# remove spaces in every entry in the dataframe
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df.columns = df.columns.str.strip()

# Convert <=50k to 0 and >50k to 1
df['income'] = df['income'].map({'<=50K': 0, '>50K': 1})

print(f'\ncolumns: {df.columns}')
print(f'\n head(2): {df.head(2)}')
print(f'\nINFO: {df.info()}')

Unique values in Columns 'age'
age: [39 50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68
 66 51 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86
 87]

Unique values in Columns ' workclass'
 workclass: [' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']

Unique values in Columns ' fnlwgt'
 fnlwgt: [ 77516  83311 215646 ...  34066  84661 257302]

Unique values in Columns ' education'
 education: [' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']

Unique values in Columns ' education-num'
 education-num: [13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]

Unique values in Columns ' marital-status'
 marital-status: [' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']

Unique values in Columns ' occupation'
 occupation: [' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']

Unique values in Columns ' relationship'
 relationship: [' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']

Unique values in Columns ' race'
 race: [' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']

Unique values in Columns ' sex'
 sex: [' Male' ' Female']

Unique values in Columns ' capital-gain'
 capital-gain: [ 2174     0 14084  5178  5013  2407 14344 15024  7688 34095  4064  4386
  7298  1409  3674  1055  3464  2050  2176   594 20051  6849  4101  1111
  8614  3411  2597 25236  4650  9386  2463  3103 10605  2964  3325  2580
  3471  4865 99999  6514  1471  2329  2105  2885 25124 10520  2202  2961
 27828  6767  2228  1506 13550  2635  5556  4787  3781  3137  3818  3942
   914   401  2829  2977  4934  2062  2354  5455 15020  1424  3273 22040
  4416  3908 10566   991  4931  1086  7430  6497   114  7896  2346  3418
  3432  2907  1151  2414  2290 15831 41310  4508  2538  3456  6418  1848
  3887  5721  9562  1455  2036  1831 11678  2936  2993  7443  6360  1797
  1173  4687  6723  2009  6097  2653  1639 18481  7978  2387  5060]

Unique values in Columns ' capital-loss'
 capital-loss: [   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876
 1340 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653
 2392 1504 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547
 2174 2205 1726 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004
 2231 1844  810 2824 2559 2057 1974  974 2149 1825 1735 1258 2129 2603
 2282  323 4356 2246 1617 1648 2489 3770 1755 3683 2267 2080 2457  155
 3900 2201 1944 2467 2163 2754 2472 1411]

Unique values in Columns ' hours-per-week'
 hours-per-week: [40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]

Unique values in Columns ' native country'
 native country: [' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']

Unique values in Columns ' income '
 income : [' <=50K' ' >50K']


columns: Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native country',
       'income'],
      dtype='object')

 head(2):    age         workclass  fnlwgt  education  education-num
0   39         State-gov   77516  Bachelors             13  \
1   50  Self-emp-not-inc   83311  Bachelors             13

       marital-status       occupation   relationship   race   sex
0       Never-married     Adm-clerical  Not-in-family  White  Male  \
1  Married-civ-spouse  Exec-managerial        Husband  White  Male

   capital-gain  capital-loss  hours-per-week native country  income
0          2174             0              40  United-States       0
1             0             0              13  United-States       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native country  32561 non-null  object
 14  income          32561 non-null  int64
dtypes: int64(7), object(8)
memory usage: 3.7+ MB

INFO: None

In [33]:
"""
Declare categorical and continuous features
"""
featureTypes = pd.read_csv(os.path.join('data', 'featureTypes.csv'), index_col=False)
categoricalFeatures = featureTypes.query("type == 'categorical'")['feature'].tolist()
ordinalFeatures = featureTypes.query("type == 'ordinal'")['feature'].tolist()
numericalFeatures = featureTypes.query("type in ['discrete', 'continuous']")['feature'].tolist()

print(f'categoricalFeatures: {categoricalFeatures}')
print(f'ordinalFeatures: {ordinalFeatures}')
print(f'numericalFeatures: {numericalFeatures}')

categoricalFeatures: ['workclass', 'education', 'marital-status', 'occupation', 'race', 'sex', 'native country']
ordinalFeatures: ['age']
numericalFeatures: ['fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [34]:
"""
Prepare categorical features
"""
# Remove '?' from the categorical features
for feature in categoricalFeatures:
    df = df[df[feature] != '?']
    # print(df[feature].value_counts())

# one-hot encode the categorical features
df = pd.get_dummies(df, columns=categoricalFeatures, drop_first=True)

In [35]:
"""
Clean up Continuous Features
"""

# remove rows that are not numeric
for feature in numericalFeatures:
    print(f"Converting {feature} to numeric")
    df = df[pd.to_numeric(df[feature], errors='coerce').notna()]

# Z-score normalization
for feature in numericalFeatures:
    mean = df[feature].mean()
    std = df[feature].std()
    df[feature] = (df[feature] - mean) / std

Converting fnlwgt to numeric
Converting education-num to numeric
Converting capital-gain to numeric
Converting capital-loss to numeric
Converting hours-per-week to numeric

In [36]:

# Convert the data types to float16
df[ordinalFeatures] = df[ordinalFeatures].astype('float16')
df[numericalFeatures] = df[numericalFeatures].astype('float16')

In [37]:
""" Now with all features cleaned, we can perform mRMR on the data"""
from mrmr import mrmr_classif

allFeatures = df.columns[:-1]
selectedFeatures = mrmr_classif(X=df[allFeatures], y=df['income'], K=len(allFeatures))
print(f'ranked features according to mrmr: {selectedFeatures}')

KeyError: ''

In [ ]:
""" Now lets save the data """
print(df.info())
print(f"\n\n DF HEAD")
print(df.head(5))
df.to_csv('data_cleaned.csv', index=False)